:root {
  --header-height: 4.5rem;
  /*========== Colors ==========*/
  --theme-yellow1: #dda032;
  --theme-yellow2: #ffa000;
  --theme-dark1: #343233;
  --theme-dark2: #1e1d1d;
  --gray-text: #858585;
  --text-white1: #efdab9;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Oswald", sans-serif;
}

.inner_page_first {
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.s-BannerServices {
  position: relative;
  overflow: hidden;
}

.s-BannerServices__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8vh 3vw 8vh 0;
}
.s-BannerServices__Content p {
  color: var(--text-white1);
}
.s-BannerServices__Subheader {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #fff;
  line-height: 1.3em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
}
.BannerServices__Subheader {
  margin-bottom: 0.4em;
  font-size: 55px;
  position: relative;
  color: var(--theme-yellow1);
  font-family: var(--heading-font);
}
/* .BannerServices__Subheader:before {
  content: "";
  display: block;
  width: 34px;
  height: 4px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background: #ffa000;
} */
.bg_dark {
  background-color: #252425;
}
.s-BannerServices__Image__Description {
  color: var(--text-white1);
  position: relative;
  margin-top: 7vh;
  margin-right: 20px;
  margin-bottom: 14vh;
  margin-left: auto;
  font-style: italic;
  text-align: right;
  width: 100%;
  padding-right: 26px;
}
.s-BannerServices__Image__Description:after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(-16% - 20px);
  z-index: 1;
  display: block;
  width: 115px;
  height: 4px;
  background: #ffa000;
}
.s-BannerServices .u-Scanlines {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 10vh;
}
.u-Scanlines {
  background: url(https://firebasestorage.googleapis.com/v0/b/excellisit2022.appspot.com/o/line_bg.png?alt=media&token=a77f1c31-ff53-486e-b1fb-6775e86c9e5b);
}
.s-BannerServices__After {
  width: 100%;
  display: block;
  padding: 0 25px;
}
.s-BannerServices__Image__Content {
  position: absolute;
  top: 0;
  right: calc(-0.5 * (1920px - (1080px)));
  bottom: 0;
  left: 0;
}
.s-BannerServices__Image__Content > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.u-BigCross:after,
.u-BigCross:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 128px;
  background: #ffa000;
  transform: translate(-50%, -50%);
}
.u-BigCross:before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.s-InfoBoxesGrid .u-Scanlines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200px;
}
.fact_no {
  padding: 100px 0 100px;
  position: relative;
}
.dark_text h6 {
  color: var(--text-white1);
}
.white_text h6,
.white_text p,
.white_text h2,
.white_text h3 {
  color: var(--text-white1);
}
.main_heading h6,
.main_heading .h6 {
  margin-bottom: 0em;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 16px;
}

.main_heading h2,
.main_heading .h2,
.main_heading .s-ScopeBoxes__Box--IconRight h3 {
  margin-top: 1.5vh;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  font-size: 45px;
  font-family: var(--heading-font);
  color: var(--theme-yellow1);
}
.main_heading h2--WithLine:after,
.main_heading .h2--WithLine:after {
  content: "";
  display: block;
  width: 34px;
  height: 4px;
  margin-top: 1vh;
  margin-bottom: 3vh;
  background: var(--theme-yellow2);
}

.main_heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: var(--text-white1);
}

.s-InfoBoxesGrid__Grid--Medium {
  position: relative;
}

.s-InfoBoxesGrid__Grid {
  flex-wrap: wrap;
}
.o-InfoBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  padding-bottom: 50%;
  background-color: #fff;
}
.o-InfoBox__Header {
  font-family: var(--heading-font);
}

.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(1) {
  order: 2;
  color: #fff;
  background-color: #ffa000;
  grid-column: 3/4;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(2) {
  grid-column: 4/5;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  order: 1;
  margin-left: 50%;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(3) {
  grid-column: 2/2;
  grid-row: 2/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 0;
  order: 6;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 0;
  order: 4;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(5) {
  order: 3;
  background-color: #252425;
  grid-column: 4/4;
  grid-row: 2/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 0;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(6) {
  grid-column: 1/1;
  grid-row: 3/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 0;
  order: 5;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(7) {
  grid-column: 2/2;
  grid-row: 4/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: -1;
  order: 7;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(8) {
  grid-column: 3/5;
  grid-row: 3/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 0;
  order: 8;
  width: 100%;
  margin-top: -1px;
}
.o-InfoBox__Content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(4),
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(6) {
  background-color: var(--theme-dark1);
  border-left: 1px solid var(--theme-dark2);
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(4) h2,
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(6) h2,
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(4) p,
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(6) p {
  color: var(--text-white1);
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(6),
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(8) {
  border: 1px solid #dadada;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(5),
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(7) {
  color: #fff;
  background-color: #252425;
}
.s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(6):before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  /* background: url(../img/plus.png); */
}
@media screen and (min-width: 85em) {
  .s-InfoBoxesGrid__Grid {
    width: auto;
    grid-template-columns: repeat(4, 225px);
    grid-auto-rows: 225px;
    display: grid;
  }
  .s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(1),
  .s-InfoBoxesGrid__Grid--Medium .o-InfoBox:nth-child(2) {
    margin-left: 0;
  }
  .o-InfoBox {
    width: auto;
  }
}

.o-GrayBackground__Positioner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -100;
  transform: translateX(31%);
}

@media (min-width: 481px) {
  .row .columns.small-push-18 {
    right: auto;
    left: 75%;
  }

  .row .columns.small-6 {
    flex: 0 1 auto;
    width: 25%;
  }
}
.o-GrayBackground__Inner:after {
  content: "";
  position: absolute;
  top: 0;
  right: calc(-0.5 * (1920px - (1392px)));
  bottom: 0;
  left: 0;
  display: block;
  background: #edf0f3;
}
.fact_no .u-Scanlines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200px;
}
.s-TextBlock {
  position: relative;
}
.t-Dark {
  background-color: var(--theme-dark1);
}
.s-TextBlock .t-Dark:before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100vw;
  bottom: 0;
  background: var(--theme-dark1);
  left: -10vw;
}
.s-TextBlock__Content ul li {
  color: var(--text-white1);
  line-height: 24px;
  margin-bottom: 25px;
}
.s-TextBlock__BackgroundIcon {
  position: absolute;
  top: 0;
  right: 0;
}
.pa_100 {
  padding: 90px 0;
}
.s-TextBlock__Intro {
  position: relative;
}
.s-CsCTA {
  margin: 5vh 0;
  position: relative;
  overflow: hidden;
  background-color: var(--theme-yellow1);
}
.h2--WideTitle {
  color: var(--theme-dark2);
  font-size: 35px;
  font-weight: 500;
  font-family: var(--heading-font);
  text-transform: uppercase;
}
.s-CsCTA__ImageContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -99;
  display: block;
  height: 100%;
}
.s-ImageText__Text ul li {
  color: var(--text-white1);
  list-style: disc;
  line-height: 30px;
}

.s-CsCTA__ImageContainer img {
  width: 100%;
  object-fit: cover;
}
.s-CsCTA__Text {
  padding: 100px 0;
}
.co-Button {
  background: var(--theme-dark2);
  background-repeat: repeat-x;
  background-position: 100% 0;
  background-size: 300% 100%;
  transition: 0.6s cubic-bezier(0.55, 0.17, 0.05, 0.85);
  will-change: background-position, box-shadow;
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 54px;
  padding: 15px 22px;
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--text-white1);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.co-Button span {
  margin-right: 10px;
}
.co-Button:hover {
  text-decoration: none;
}
.s-ImageText__ImageContainer:before {
  content: "";
  position: absolute;
  top: -81px;
  right: calc(2 / 15 * 100% - -77px);
  left: auto;
  z-index: 9999;
  width: 150px;
  height: 150px;
  /* background: url(../img/plusplus.png); */
  background-size: contain;
  background-repeat: no-repeat;
}
.s-ImageText {
  width: 100%;
  padding: 50px 0 100px;
}
.s-ImageText__ImageContainer img {
  width: 100%;
}
.s-IconsRoundDark__Tabs {
  counter-reset: number;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.s-IconsRoundDark__TabContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex: 1;
}
.s-IconsRoundDark__TabInner {
  position: relative;
  display: flex;
  align-items: center;
}
.s-IconsRoundDark {
  padding: 100px 0 50px;
  margin-bottom: 80px;
  background-color: var(--theme-dark2);
  position: relative;
}
.s-IconsRoundDark__Circle {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin-right: 0px;
  border: 2px solid #dadada;
  border-radius: 100px;
  background: #252425;
}
.s-IconsRoundDark__Circle i {
  font-size: 45px;
}
.s-IconsRoundDark__TabContainer i {
  color: var(--text-white1);
}
.s-IconsRoundDark__ConnectIcon {
  position: absolute;
  top: 100%;
  right: -5px;
  display: flex;
}
.s-IconsRoundDark__TabInner .o-Icon--16 {
  color: #ffa000;
  transform: rotate(90deg);
  font-size: 22px;
}
.s-IconsRoundDark__Title {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  color: var(--text-white1);
  margin-top: 22px;
}
.s-IconsRoundDark__TopText {
  color: var(--text-white1);
  font-size: 18px;
}
@media screen and (min-width: 48em) {
  .s-IconsRoundDark__Tabs {
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  .s-IconsRoundDark__TabContainer {
    flex-direction: column;
    padding: 0 10px;
  }
  .s-IconsRoundDark__ConnectIcon {
    top: calc(50% - 12px);
    right: -40px;
    transform: rotate(270deg);
  }
}
.s-TechnologiesLogos {
  padding-top: 20px;
}
.s-TechnologiesLogos__Image {
  padding: 30px;
  height: 100px;
  width: 100px;
  margin: 0px auto;
  margin-bottom: 10px;
  border-radius: 80px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 20px 21px 54px rgb(0 0 0 / 11%);
}
.s-TechnologiesLogos__Image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.s-TechnologiesLogos__Inner {
  margin-bottom: 40px;
  text-align: center;
}
.s-TechnologiesLogos__Inner h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--theme-dark1);
}

.technology_new_tab ul li a {
  padding: 21px 45px 11px;
  background-color: #fff;
  font-family: oswald;
  color: #000 !important;
  letter-spacing: 1px;
  font-size: 20px;
  border-radius: 0px !important;
  box-shadow: 4px 5px 22px rgb(0 0 0 / 10%);
  border-radius: 5px !important;
  display: grid;
  text-align: center;
  position: relative;
}
.technology_new_tab ul li a svg {
  margin: 0px auto;
  font-size: 40px;
  margin-bottom: 7px;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--theme-yellow2);
}
.technology_new_tab ul li {
  margin-right: 45px;
}
.technology_new_tab ul {
  margin-bottom: 20px !important;
  margin-top: 70px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 40px;
}
.technology_new_tab {
  background-color: #f5f5f5;
}
.technology_new_tab ul li a.active {
  background-color: #ffa000 !important;
  box-shadow: 4px 5px 22px rgb(255 160 0);
  color: #fff !important;
}
.technology_new_tab ul li a.active svg {
  color: var(--theme-dark2);
}
.technology_new_tab .tab-content {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.s-TechnologiesLogos .u-Scanlines {
  position: absolute;
  right: 0;
  bottom: -95px;
  left: 0;
  z-index: -1;
  height: calc(50% + -83px);
}
.sec {
  position: relative;
}
.s-CaseStudies {
  margin-top: 200px;
  background: #fff;
  padding-bottom: 50px;
}
.s-CaseStudies__ClientWrapper__Image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  vertical-align: top;
}
.u-Light {
  font-weight: 200;
  font-size: 20px;
}
.s-CaseStudies__ClientWrapper__Excerpt {
  position: relative;
}
.s-CaseStudies__ClientWrapper__Excerpt--Gap {
  padding-bottom: 3vh;
}
.s-CaseStudies__ClientWrapper__Excerpt--Gap:after {
  content: "";
  position: absolute;
  top: 100px;
  left: -13%;
  z-index: 1;
  width: 11%;
  height: 4px;
  background: #ffa000;
}
.o-LogoTile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: calc(100% + 1px);
  margin-top: -1px;
  margin-right: -1px;
  padding: 10vh 0;
  background: #fff;
  box-shadow: inset 0 0 0 1px #dadada;
}
.o-LogoTile:hover {
  text-decoration: none;
  z-index: 1;
  box-shadow: inset 0 0 0 2px #ffa000;
}
.o-LogoTile--WithCountry {
  padding: 5vh 20px;
}
.o-LogoTile img {
  display: flex;
  align-self: center;
  height: max-content;
  margin: 0 auto;
}
.o-LogoTile--WithCountry h3 {
  position: relative;
  padding: 5vh 3vh 0;
  margin: 1em 0em;
  color: #252425;
}
.o-LogoTile--WithCountry h3:before {
  content: "";
  position: absolute;
  top: 20px;
  left: calc(50% - 22px);
  width: 44px;
  height: 1px;
  background-color: #dadada;
}
.u-AlignCenter {
  text-align: center;
}
.s-QuotationCenter__Author {
  font-size: 20px;
}
.o-LogoTile--WithCountry p {
  padding: 0;
  color: #707070;
}

.o-LogoTile__SeeMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh;
  color: #fff;
  background: #ffa000;
  box-shadow: inset 0 0 0 1px #ffa000;
}
.o-Button--OutlineDark {
  border: 2px solid #fff;
  background: 0 0;
}
.o-LogoTile--WithText:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 25px;
  background-color: #ffa000;
}

.why_point ul li {
  color: var(--text-white1);
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.why_point ul {
  margin-bottom: 0;
}
.why_point {
  background-color: var(--theme-dark2);
  padding: 20px;
}

.section_technology {
  background-color: #fff;
  padding: 100px 0;
}

@media (max-width: 768px) {
  .s-BannerServices__Image__Content img {
    width: 100%;
  }
  .s-TechnologiesLogos__Inner {
    padding: 10px;
  }
}

/***************************Why hire us**************************************************************/
.why_hire_us_sec .card {
  margin-bottom: 10px;
  border: none;
  border-radius: 0px;
}
.why_hire_us_sec .card .card-header {
  background-color: var(--theme-dark2);
  border: none;
  border-radius: 0px;
  padding: 0;
}
.why_hire_us_sec .card .card-header h5 {
  color: var(--theme-yellow1);
}
.why_hire_us_sec .card .card-header h5 button {
  color: var(--theme-yellow1);
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.why_hire_us_sec .card .card-header h5 button:active {
  text-decoration: none;
}
.why_hire_us_sec .card .card-header h5 button:focus {
  box-shadow: none;
  outline: none;
}
.why_hire_us_sec .card .card-body {
  background-color: var(--theme-dark1);
  border: 1px solid var(--theme-dark2);
  color: var(--text-white1);
}

.company_intro p {
  color: var(--text-white1);
}
.s-BannerServices {
  padding: 100px 0;
}
.common_cta_inner {
  background-color: var(--theme-yellow1);
  padding: 70px 0 !important;
  border-radius: 10px;
}
.common_cta_sec {
  position: relative;
  z-index: 9;
}

.expertise_section {
  padding: 70px 0;
  position: relative;
  z-index: 9;
}
.single_expertise {
  background-color: var(--theme-dark2);
  padding: 30px;
  margin-bottom: 30px;

  transition: ease-in all 0.3s;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
}
.single_expertise:hover {
  border-radius: 0px 45px 0 0;
  transition: ease-in all 0.3s;
  border-right: 2px solid var(--theme-yellow2);
  border-top: 2px solid var(--theme-yellow2);
}
.single_expertise:hover img {
  transform: rotate(-15deg);
  transition: ease-in all 0.3s;
}
.single_expertise img {
  transition: ease-in all 0.3s;
}
.single_expertise h4 {
  color: var(--theme-yellow1);
  margin-bottom: 20px;
  font-family: var(--heading-font);
}
.single_expertise p {
  color: var(--text-white1);
  font-size: 15px;
}
.expertise_icon_single {
  width: 25%;
  margin: 0px auto;
  margin-bottom: 15px;
  transition: ease-in all 0.3s;
}

.inner_page_industries {
  padding: 100px 0;
  background-color: var(--theme-dark1);
  position: relative;
  z-index: 9;
}
.inner_single_industries {
  position: relative;
}
.inner_single_industries_cont {
  position: absolute;
  z-index: 99;
  bottom: -10px;
  left: 0;
  width: 100%;
  padding-left: 25px;
  transition: ease-in all 0.3s;
  padding-right: 15px;
  height: 60px;
}
.inner_single_industries:hover .inner_single_industries_cont {
  bottom: 0px;
  transition: ease-in all 0.3s;
  height: auto;
}
.inner_single_industries:hover .inner_single_industries_cont::before {
  height: 430px;
  transition: ease-in all 0.3s;
}
.inner_single_industries_cont h4,
.inner_single_industries_cont p {
  color: var(--text-white1);
}
.inner_single_industries_cont h4 {
  margin-bottom: 25px;
  font-family: var(--heading-font);
  font-size: 18px;
}
.inner_single_industries p {
  font-size: 15px;
}

.inner_single_industries_cont::before {
  content: "";
  background: linear-gradient(
    2deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.835171568627451) 26%,
    rgba(0, 0, 0, 0.42620798319327735) 72%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  left: 0;
  width: 100%;
  height: 330px;
  bottom: 0;
  z-index: -1;
  transition: ease-in all 0.3s;
  height: 100%;
}

.common_faq_section {
  position: relative;
  padding: 100px 0;
}
.faq_inner {
  background-color: var(--theme-dark1);
  padding: 30px;
  box-shadow: 5px 7px 54px rgb(0 0 0 / 18%);
}

.faq_inner .card {
  margin-bottom: 10px;
  border: none;
  border-radius: 0px;
  background-color: transparent;
}
.faq_inner .card .card-header {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 0;
}
.faq_inner .card .card-header h5 {
  color: var(--theme-yellow1);
}
.faq_inner .card .card-header h5 button {
  color: var(--theme-yellow1);
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-left: 0;
}
.faq_inner .card .card-header h5 button:active,
.faq_inner .card .card-header h5 button:hover {
  text-decoration: none;
}
.faq_inner .card .card-header h5 button.collapsed:hover span {
  background-color: var(--theme-yellow2);
  color: var(--theme-dark2);
}
.faq_inner .card .card-header h5 button span {
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  font-weight: 500;
}
.faq_inner .card .card-header h5 button:focus {
  box-shadow: none;
  outline: none;
}
.faq_inner .card .card-header h5 button span {
  background-color: var(--theme-yellow2);
  color: var(--theme-dark2);
}
.faq_inner .card .card-header h5 button.collapsed span {
  background-color: transparent;
  color: var(--theme-yellow1);
}
.faq_inner .card .card-body {
  background-color: #404040;
  border: 1px solid var(--theme-dark2);
  color: var(--text-white1);
  font-size: 18px;
}
.faq_inner .card .card-body ul li {
  list-style: circle;
  padding-left: 10px;
  font-size: 14px;
  line-height: 25px;
}
.faq_inner .card .card-body ul {
  padding-left: 30px;
  margin-top: 10px;
}
.faq_title h4 {
  font-size: 50px;
  font-weight: 800;
  color: var(--text-white1);
  font-family: oswald;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.cta2_section {
  padding: 70px 0;
  position: relative;
  z-index: 9;
  background-color: #fff;
}
.cta2_inner {
  background-color: var(--text-white1);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.cta2_inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 160 0 / 34%);
}
.cta2_inner .cta2_img_sec {
  width: 40%;
  height: 300px;
}
.cta2_img_sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cta2_inner .cta2_content_sec {
  width: 60%;
  padding: 30px;
  position: relative;
  z-index: 9;
}
.cta2_inner .cta2_content_sec h4 {
  font-family: var(--heading-font);
  font-size: 35px;
  color: var(--theme-dark2);
}
.cta2_inner .cta2_content_sec p {
  font-size: 15px;
  font-family: var(--body-font);
  color: #fff;
}
.cta2_inner .cta_2_btn {
  background-color: var(--theme-yellow2);
  padding: 15px 50px;
  color: var(--theme-dark2);
  font-family: var(--heading-font);
  font-size: 18px;
  border-radius: 0px;
}
.cta_block_bg {
  background-color: transparent;
  position: relative;
}
.cta_block_bg .cta2_inner {
  box-shadow: 10px 12px 64px rgb(0 0 0 / 39%);
}

/**************************************Process Secton************************************************/
.process_sec {
  padding: 100px 0;
  position: relative;
  z-index: 9;
  background-color: #fff;
}
.process_sec .swiper-container {
  width: 100%;
  height: 100%;
}
.process_sec .swiper-slide {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-right: 1px solid #ccc;
  padding: 0 15px;
}
.process_sec .swiper_heding,
.prosses_text,
.procc_img,
.procc_img img {
  width: 100%;
}
.process_sec .swiper_heding .step__count {
  color: #1e1d1d;
  font-size: 70px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.2;
  position: absolute;
  right: -12px;
  top: 0;
}
.process_sec .width_100 {
  width: 100%;
  padding-top: 30px;
}
.process_sec .navi {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  background: #dda032;
  padding: 25px;
}
.process_sec .navi ul {
  padding: 0;
  list-style: none;
}
.process_sec .navi li {
  width: 100%;
  margin-bottom: 20px;
  line-height: 18px;
  position: relative;
  padding-left: 30px;
  transition: all ease-in 0.3s;
}
.process_sec .navi li:before {
  position: absolute;
  top: 7px;
  left: 7px;
  background: #fff;
  border-radius: 50%;
  content: "";
  width: 5px;
  height: 5px;
  transition: all ease-in 0.3s;
}

.process_sec .navi li.active:before,
.process_sec .navi li.active:before,
.process_sec .navi li:hover:before {
  width: 6px;
  height: 6px;
  transition: all ease-in 0.3s;
}
.process_sec .navi li:after {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  content: "";
  transition: all ease-in 0.3s;
}
.process_sec .navi li.active:after,
.process_sec .navi li.active:after,
.process_sec .navi li:hover:after {
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid #fff;
  transition: all ease-in 0.3s;
}

.process_sec .main_heding_top {
  position: relative;
  margin-bottom: 30px;
}
.process_sec .main_heding_top h3 {
  color: var(--theme-dark2);
  font-size: 50px;
  margin: 0;
  font-family: var(--heading-font);
}
.process_sec .prosses_text h3 {
  font-size: 20px;
  font-family: var(--heading-font);
  font-weight: 700;
  margin-bottom: 15px;
}

.process_sec .prosses_text p {
  color: #343233;
  font-family: var(--body-font);
  font-size: 15px;
  line-height: 25px;
}
.process_sec .prosses_text {
  margin: 30px 0;
}
.process_sec .procc_img img {
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.process_sec .swiper-slide:hover .procc_img img,
.process_sec .swiper-slide-active .procc_img img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* .process_sec .swiper-slide-active {
  background: #dda032;
} */

.process__icon {
  width: 70px;
}
.process__icon img {
  width: 100%;
}

.all_services_sec {
  padding: 70px 0;
}

.all_services_item_sec {
  background-color: var(--theme-dark1);
}
.all_services_title h2 {
  font-size: 60px;
  font-family: var(--heading-font);
  padding-left: 150px;
  color: var(--theme-yellow1);
}
.single_inner_services {
  padding: 60px 30px;
  background-color: var(--theme-dark2);
  margin-bottom: 30px;
}
.single_inner_services ul li {
  color: var(--text-white1);
  padding-left: 10px;
  list-style: disc !important;
}
.single_inner_services h4 {
  color: var(--theme-yellow1);
  font-weight: 500;
  margin-bottom: 10px;
  font-family: var(--heading-font);
  font-size: 30px;
  margin-bottom: 30px;
}
.single_inner_services p {
  color: var(--text-white1);
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.big_title h2 {
  display: grid;
  text-align: center;
  color: var(--text-white1);
  margin-bottom: 30px;
  font-size: 60px;
  font-family: var(--heading-font);
}
.big_title h2 span {
  font-size: 120px;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: 700;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
  color: var(--theme-dark2);
}
.why_hire_sec .big_title h2 span {
  color: var(--theme-yellow2);
}
.why_hire_sec {
  background-color: var(--theme-dark1);
}
.why_pill_tab li a {
  display: grid;
  color: var(--text-white1);
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: var(--heading-font);
  width: 150px;
  text-align: center;
}
.why_pill_tab li a img {
  width: 50px;
  margin: 0px auto;
  margin-bottom: 5px;
}
.why_pill_tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why_pill_tab li a.active {
  background-color: var(--theme-dark2) !important;
}
.wht_tab_inner {
  padding: 25px;
  background-color: #2e2e2e;
  border: 1px solid var(--text-white1);
}
.why_pill_tab_content .tab-pane h4 {
  color: var(--theme-yellow1);
  font-size: 25px;
  margin-bottom: 20px;
  font-family: var(--heading-font);
}
.why_pill_tab_content .tab-pane p {
  color: var(--text-white1);
  font-size: 16px;
  font-family: var(--body-font);
}
.big_title {
  margin-bottom: 100px;
}
.single_inner_client {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #e9e9e9;
}
.single_inner_client img {
  width: 100%;
}
.inner_page_client_section {
  padding: 100px 0;
  background-color: #fff;
  position: relative;
}
.inner_page_client_section .big_title {
  margin-bottom: 50px;
}

/***********************new process section***************************************/

/**************************************************/
.iq-features {
  padding: 70px 0;
  position: relative;
  background-color: var(--theme-dark2);
}
.holderCircle {
  width: 600px;
  height: 600px;
  border-radius: 100%;
  margin: 0px auto;
  position: relative;
}

.dotCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: 20;
}
.dotCircle .itemDot {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  background: var(--theme-dark1);
  color: var(--theme-yellow2);
  border-radius: 20px;
  text-align: center;
  z-index: 3;
  cursor: pointer;
  border: 1px dashed var(--theme-yellow2);
  font-family: var(--heading-font);
  font-size: 40px;
}
.dotCircle .itemDot .forActive {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.dotCircle .itemDot .forActive::after {
  content: "";
  width: 5px;
  height: 5px;
  border: 3px solid var(--theme-yellow2);
  bottom: -31px;
  left: -14px;
  filter: blur(1px);
  position: absolute;
  border-radius: 100%;
}
.dotCircle .itemDot .forActive::before {
  content: "";
  width: 6px;
  height: 6px;
  filter: blur(5px);
  top: -15px;
  position: absolute;
  transform: rotate(-45deg);
  border: 6px solid var(--theme-yellow2);
  right: -39px;
}
.dotCircle .itemDot.active .forActive {
  display: block;
}
.round {
  position: absolute;
  left: 40px;
  top: 45px;
  width: 510px;
  height: 510px;
  border: 1px dashed var(--theme-yellow2);
  border-radius: 100%;
  animation: rotation 50s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dotCircle .itemDot:hover,
.dotCircle .itemDot.active {
  color: #ffffff;
  transition: 0.5s;
  background: var(--theme-yellow2);
  border: 2px solid var(--theme-yellow1);
  -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.13);
}
.benefit_title_sec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit_title_sec h4 {
  font-size: 100px;
  color: var(--theme-yellow1);
  font-family: var(--heading-font);
}

.contentCircle {
  border-radius: 100%;
  color: #222222;
}
.contentCircle .CirItem {
  opacity: 0;
  position: absolute;
}
.CirItem.active {
  z-index: 1;
  opacity: 1;
  transform: scale(1);
  transition: 0.5s;
  top: 50%;
  transform: translate(0, -50%);
}
.contentCircle .CirItem i {
  font-size: 180px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -90px;
  color: #000000;
  opacity: 0.1;
}

.title-box .title {
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  z-index: -1;
  margin-bottom: 20px;
}
.title-box span {
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  font-weight: 800;
  color: var(--theme-yellow1);
  font-size: 40px;
  font-family: var(--heading-font);
}
.title-box p {
  font-size: 17px;
  line-height: 2em;
  font-size: 16px;
  color: var(--text-white1);
}

/********************************Responsive**************************/
@media (max-width: 768px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 40%;
    top: 90%;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 40%;
    top: 90%;
  }
  .banner_img .about_text .innerbanner_element {
    right: calc(50vw - 100px);
    width: 100vw;
    min-height: 290px;
  }
  .s-BannerServices,
  .fact_no {
    padding: 30px 0;
  }
  .all_services_title h2 {
    font-size: 40px;
    padding-left: 0;
    margin-bottom: 40px;
  }
  .u-BigCross:after,
  .u-BigCross:before {
    height: 80px;
    width: 15px;
  }
  .cta2_inner .cta2_content_sec {
    width: 100%;
  }
  .big_title h2 span {
    font-size: 60px;
  }
  .big_title h2 {
    font-size: 40px;
  }
  .round {
    width: 250px;
    height: 250px;
    left: 0;
  }
  .holderCircle {
    width: 270px;
    height: 270px;
    margin: 0px auto;
  }
  .holderCircle::after {
    width: 100%;
    height: 100%;
    top: 0;
  }
  .dotCircle {
    width: 100%;
    height: 100%;
    top: -20px;
    right: 0;
    bottom: 0;
    left: -20px;
    margin: auto;
  }
  .benefit_title_sec h4 {
    font-size: 50px;
  }
  .dotCircle .itemDot {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 10px;
  }

  .contentCircle {
    height: 350px;
  }
  .round {
    top: 0;
  }
  .dotCircle .itemDot .forActive::before {
    right: 0px;
  }
  .banner_img {
    padding-top: 49.7vw !important;
  }
  .cta2_inner .cta2_content_sec h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 559px) {
  .top_header_section {
    display: none;
  }
  .main_nav_sec {
    top: 0;
  }
  .sidemenu__item-inner {
    font-size: 12px;
  }
  .sidemenu {
    padding: 36px 0;
  }
  .CirItem.active {
    width: 90%;
  }
  .contentCircle {
    height: 450px !important;
    text-align: center !important;
  }
  .benefit_title_sec h4 {
    font-size: 30px;
  }
  .title-box span {
    font-size: 30px;
  }
  .cta2_section {
    padding: 20px 0;
  }
  .testim,
  .inner_page_client_section,
  .common_faq_section,
  .process_sec {
    padding: 60px 0;
  }
  .big_title h2 span {
    font-size: 45px;
  }
  .technology_new_tab ul li {
    margin-right: 2.5%;
    width: 45%;
  }
  .technology_new_tab ul li a {
    padding: 15px 11px 11px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .technology_new_tab ul li a svg {
    font-size: 25px;
  }
  .technology_new_tab ul {
    margin-bottom: 20px !important;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 40px;
    padding-left: 20px;
  }
  .technology_new_tab .tab-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .s-TechnologiesLogos__Image {
    padding: 20px;
    height: 80px;
    width: 80px;
  }
  .s-TechnologiesLogos__Inner {
    margin-bottom: 10px;
  }
  .faq_title h4 {
    font-size: 30px;
  }
  .faq_inner {
    padding: 10px;
  }
  .faq_inner .card .card-header h5 button {
    font-size: 18px;
  }
  .faq_inner .card .card-body {
    font-size: 15px;
  }
  .why_pill_tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: inherit;
    overflow-y: scroll;
  }
  .why_pill_tab li a img {
    width: 30px;
  }
  .why_pill_tab li a {
    font-size: 14px;
  }
  .big_title {
    margin-bottom: 20px;
  }
  .big_title h2 {
    font-size: 20px;
  }
  .single_inner_services {
    padding: 25px;
  }
  .BannerServices__Subheader {
    font-size: 30px !important;
  }
  .main_heading h2,
  .main_heading .h2,
  .main_heading .s-ScopeBoxes__Box--IconRight h3 {
    font-size: 30px !important;
  }
  .title-box p {
    font-size: 15px;
    line-height: 28px;
  }
  .inner_single_industries_cont {
    height: 100%;
    bottom: 0;
    padding-top: 20%;
  }
  .banner_img .about_text .innerbanner_element {
    min-height: 240px;
  }
  .locla_text p {
    padding-left: 20px;
  }
  .four:before {
    right: 0;
    width: 100vh;
  }
  .item_a {
    padding: 15px;
  }
  .abt_we_icon {
    width: 40px;
  }
  .meet-our-team .title-c .left-block h2 {
    font-size: 30px;
  }
  .overflow_hidden {
    margin-left: 0;
    height: 350px;
  }
  .app_details {
    padding: 10px;
  }
  .sticky_portfolio_menu ul li a {
    font-size: 15px;
  }
  .wide_globe_sec,
  .solutions-2-sing__sx span.rightno,
  .solutions-2-sing__sx span.leftno {
    display: none;
  }
  .solutions-2-sing__sx {
    margin-bottom: 30px;
  }
  .partner_single_why {
    text-align: center;
  }
  .inner_page_industries {
    padding: 40px 0;
  }
  .process_sec .main_heding_top h3 {
    font-size: 40px;
  }
}
