@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&family=Roboto:wght@100;300;400&display=swap");
:root {
  --header-height: 4.5rem;
  /*========== Colors ==========*/
  --theme-yellow1: #dda032;
  --theme-yellow2: #ffa000;
  --theme-dark1: #343233;
  --theme-dark2: #1e1d1d;
  --gray-text: #858585;
  --text-white1: #efdab9;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Oswald", sans-serif;
}
.main_servics_sec {
  background-color: var(--theme-dark1);
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.main_services_inner ul.nav li {
  width: 20%;
  text-align: center;
}
.main_services_inner ul.nav li a {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px !important;
  font-size: 30px;
  font-family: var(--heading-font);
  letter-spacing: 1px;
  color: var(--text-white1);
  background-color: rgba(0, 0, 0, 0.2);
  transition: ease-in all 0.3s;
}
.main_services_inner ul.nav li a.services_title_link {
  background-color: var(--theme-dark2);
}
.main_services_inner ul.nav li a.services_title_link.active {
  background-color: var(--theme-dark2);
  transition: ease-in all 0.3s;
}
.main_services_inner ul.nav li a.active {
  background-color: var(--text-white1) !important;
  color: var(--theme-dark2) !important;
  /* transform: scale(1.1); */
  transition: ease-in all 0.3s;
}
.main_services_inner ul.nav li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: ease-in all 0.3s;
}
.main_services_inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main_services_content_inner {
  width: 40%;
  margin: 0px auto;
  padding: 150px 0;
}
.main_services_content_inner h4 {
  font-size: 90px;
  font-family: var(--heading-font);
  color: var(--text-white1);
}
.main_services_content_inner p {
  font-size: 25px;
  color: var(--text-white1);
  font-weight: 300;
}

.it_services_nav_sec {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--text-white1);
  border-top: 1px solid var(--text-white1);
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 580px;
}
.main_services_content {
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 580px;
}

.it_services_title,
.it_servies_list_item,
.services_graphics_nav_sec {
  width: 34%;
}
.it_servies_list_item {
  border-left: 1px solid var(--text-white1);
  border-right: 1px solid var(--text-white1);
}
.it_services_title h4 {
  font-size: 90px;
  font-family: var(--heading-font);
  color: var(--text-white1);
  padding-left: 60px;
}
.it_servies_list_item li {
  height: 80px;
  border-bottom: 1px solid var(--text-white1);
}
.it_servies_list_item ul li a {
  height: 80px;
  background-color: transparent;
  border-bottom: 1px solid var(--text-white1);
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 30px;
  position: relative;
  transition: ease-in all 0.3s;
}
.it_servies_list_item ul li a:hover {
  background-color: var(--theme-yellow2);
  color: var(--theme-dark2);
  transition: ease-in all 0.3s;
}
.it_servies_list_item ul li a:hover::before {
  right: 48px;
  transition: ease-in all 0.3s;
}

.it_servies_list_item li a:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 28px;
  width: 31px;
  height: 11px;
  background: url(../img/arrow-right-solution.svg) 50% 50% no-repeat;
  background-size: 100%;
  margin-right: 10px;
  transition: ease-in all 0.3s;
}

.it_servies_list_item ul li:last-child {
  border-bottom: none;
}
.it_servies_list_item ul li a {
  color: var(--text-white1);
  font-family: var(--heading-font);
  font-weight: 400;
}
.main_services_inner ul.nav li a i {
  padding-left: 10px;
}
.main_services_inner ul.nav li a:hover i {
  transform: rotate(90deg);
  transition: ease-in all 0.1s;
}

.main_services_inner ul {
  margin-bottom: 0;
}
.services_graphics_nav_sec {
  text-align: center;
  height: 480px;
  background-color: #343233;
  overflow: hidden;
}
.services_graphics_nav_sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .main_services_inner ul.nav li a {
    font-size: 25px;
  }
  .main_services_content_inner {
    width: 60%;
  }
  .main_services_inner ul.nav li a {
    height: 100px;
  }
  .main_services_content_inner h4 {
    font-size: 50px;
  }
  .main_services_content_inner p {
    font-size: 20px;
  }
  .main_services_content_inner {
    padding: 90px 0;
  }
  .it_services_nav_sec,
  .services_graphics_nav_sec {
    max-height: 350px;
  }
  .it_servies_list_item li,
  .it_servies_list_item ul li a {
    height: 58px;
  }
  .it_services_title h4 {
    font-size: 60px;
  }
}
