@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&family=Roboto:wght@100;300;400&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 4.5rem;
  /*========== Colors ==========*/
  --theme-yellow1: #dda032;
  --theme-yellow2: #ffa000;
  --theme-dark1: #343233;
  --theme-dark2: #1e1d1d;
  --gray-text: #858585;
  --text-white1: #efdab9;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Oswald", sans-serif;
}
p {
  font-family: var(--body-font);
}

.banner_img {
  /* background: url(../img/banner_image.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20vw;
}
.banner_img .about_text {
  position: relative;
  padding-bottom: 65px;
  padding-top: 50px;
}
.banner_img .about_text .innerbanner_element {
  content: "";
  background-color: var(--theme-yellow1);
  position: absolute;
  right: calc(50vw - 200px);
  top: -40px;
  bottom: 0;
  width: 100vw;
  min-height: 400px;
}
.text_about {
  position: relative;
}
.text_about h2 {
  color: #fff;
  font-family: var(--heading-font);
  font-size: 120px;
}
.text_about h2:before {
  content: "";
  position: absolute;
  top: 0.45em;
  right: calc(100% + 21px);
  width: 50vw;
  background-color: var(--theme-dark2);
  height: 1px;
}
.text_about p {
  color: #fff;
  font-size: 25px;
}
.text_about span,
.text_left_img span {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  padding-left: 50px;
  position: relative;
  margin-top: 17px;
  color: #fff;
}

.text_about span:before,
.text_left_img span:before {
  content: "";
  position: absolute;
  left: 0;
  width: 39.5px;
  height: 1px;
  background-color: #fff;
  top: 0.5em;
}
.banner_after {
  background: #f2f6f8;
  overflow: hidden;
}
.locla {
  position: relative;
  padding-bottom: 37px;
  padding-top: 200px;
}
.locla:before {
  content: "";
  position: absolute;
  right: calc(50vw - 200px);
  top: 0;
  bottom: 0;
  width: 100vw;
}
.text_locla {
  position: relative;
}
.text_locla h2 {
  color: #fff;
  font-family: var(--heading-font);
}
.text_locla h2:before {
  content: "";
  position: absolute;
  top: 0.45em;
  right: calc(100% + 21px);
  width: 50vw;
  background-color: var(--text-white1);
  height: 1px;
}

.locla_text p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  display: inline-block;
  padding-left: 50px;
  position: relative;
  margin-top: 17px;
  color: var(--text-white1);
}

.locla_text p:before {
  content: "";
  position: absolute;
  left: 0;
  width: 39.5px;
  height: 1px;
  background-color: var(--text-white1);
  top: 0.9em;
}
.locla_text {
  position: relative;
}
.locla_text:before {
  content: "";
  position: absolute;
  top: 0;
  right: 8.5%;
  bottom: 0;
  width: 100vw;
  background-color: var(--theme-dark1);
}
.left_master {
  width: 100%;
  position: relative;
}
.left_master:before {
  content: "";
  position: absolute;
  top: 0;
  right: 7.5%;
  bottom: 0;
  width: 100vw;
  background-color: var(--theme-dark1);
}
.left_master h3 {
  background: var(--theme-dark2);

  padding: 42px;
  font-family: var(--heading-font);
  color: var(--theme-yellow1);
}
.left_master_title {
  margin-top: -134px;
}
.left_master p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  display: inline-block;
  padding: 24px 0 50px 25px;
  position: relative;
  margin-top: 17px;
  color: var(--text-white1);
}
.text_left_img {
  position: relative;
  padding: 35px;
}
.text_left_img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100vw;
  background-color: var(--theme-dark1) !important;
}
.text_left_img .radial-bg {
  background: var(--theme-yellow1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  width: 100vw;
}
.text_left_img .up_img {
  margin-top: -155px;
}
.up_img img {
  width: 100%;
}
.text_left_img p {
  color: #fff;
  font-size: 25px;
}
.text_left_img .line-box {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 85.7vw;
  /* background: url(../img/about-us-line.svg) 50% 100% no-repeat; */
  background-size: contain;
  top: 0;
  bottom: 0;
}
.four {
  position: relative;
  background-color: var(--theme-dark1);
  padding-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.four:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  width: 50vw;
  background-color: var(--theme-dark1);
}

.locla1 {
  color: #fff;
  width: 50%;
  padding-left: 14.4%;
  position: relative;
  margin-top: -3px;
  padding-bottom: 40px;
}
.locla1:before {
  background: var(--theme-yellow1);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
}
.locla1 h2 {
  position: relative;
  font-family: var(--heading-font);
}
.locla1 h2:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: calc(100% + 21px);
  left: calc(-40% - 61px);
  background-color: var(--theme-dark2);
  height: 1px;
}
.black_p {
  position: relative;
  font-size: 25px;
  padding: 50px 32% 50px 50px;
  font-family: var(--heading-font);
  color: var(--theme-yellow1);
}
.img_c {
  width: 100%;
  margin-bottom: -49px;
  position: relative;
  z-index: 1;
}
.img_c img {
  width: calc(50vw + 12.7%);
}
.five {
  position: relative;
}
.five:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  width: 50vw;
  background: var(--theme-dark1);
}
.title_c {
  position: relative;
  padding: 122px 36% 63px 14.4%;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: normal;
}
.title_c:before {
  content: "";
  position: absolute;
  left: -60px;
  right: -60px;
  top: 0;
  bottom: 0;
  background-color: var(--theme-yellow1);
}
.title_c h2 {
  position: relative;
  font-family: var(--heading-font);
  color: var(--theme-dark2);
}
.title_c h2:before {
  content: "";
  position: absolute;
  top: 0.45em;
  right: calc(100% + 21px);
  left: calc(-40% - 110px);
  background-color: var(--text-white1);
  height: 1px;
}

.title_c p {
  position: relative;
  font-weight: 300;
  color: var(--theme-dark1);
}
.eight_sec {
  position: relative;
  padding: 50px 0;
}
.item_a {
  padding: 42.5px 2%;
}

.item_a .img-c {
  position: relative;
  z-index: 1;
  height: 60px;
}
.item_a .img-c img {
  width: auto;
  max-width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 0;
}
.item_a .title-inner {
  position: relative;
  margin-top: 20px;
}

.item_a .title-inner:hover .abt_we_icon i {
  text-shadow: 0px 22px 22px #181818;
}

.abt_we_icon {
  text-align: center;
  font-size: 60px;
  margin-bottom: 5px;
  color: #dda032;
}

.title-inner .txt-c {
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--theme-yellow1);
  line-height: 30px;
  font-family: var(--heading-font);
}
.six {
  position: relative;
}
.six:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 180px;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: var(--theme-dark1);
}
.six .top-block .left-block {
  padding: 160px 21px 286px;
}
.six .top-block .left-block h2 {
  position: relative;
  color: #fff;
  font-family: var(--heading-font);
}
.single_project h2 {
  font-family: var(--heading-font);
  color: var(--theme-yellow1);
}
.single_project p {
  color: var(--text-white1);
}
.six .top-block .left-block h2:before {
  content: "";
  position: absolute;
  top: 0.45em;
  right: calc(100% + 21px);
  width: 50vw;
  background-color: #b4cde2;
  height: 1px;
}
.six .top-block .left-block:before {
  content: "";
  position: absolute;
  right: 0;
  width: 100vw;
  top: 0;
  bottom: 0;
  background: var(--theme-yellow1);
}
.six .top-block .right-block {
  padding: 45px;
}

.six .bottom-block .slick-list {
  overflow: visible;
}
.six .bottom-block {
  width: calc(93% + 34px);
  margin-top: -118px;
  margin-bottom: 80px;
}
.six .bottom-block .slick-slide {
  display: block;
}
.six .bottom-block .img_slick {
  padding: 0 15px;
  position: relative;
}
.six .bottom-block .img_slick img {
  width: 100%;
}
.six .bottom-block .slick-arrow::before {
  content: none;
}
.six .bottom-block .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 64px;
  width: 64px;
  line-height: 64px;
  padding: 0 13px;
  border: 0;
  background-color: var(--theme-yellow1);
  font-size: 14px;
  z-index: 1;
  outline: none;
  left: 90%;
}
.six .bottom-block .slick-arrow.slick-prev {
  left: auto;
  right: 10%;
}
.view_all {
  position: relative;
  background: var(--theme-yellow1);
  border: 2px solid var(--theme-yellow2);
  padding: 13px 50px;
  display: inline-block;
  color: var(--theme-dark2);
  font-weight: 500;
}
.view_all:hover,
.view_all:focus {
  text-decoration: none;
}
.six .bottom-block .slick-slide .overlay_img {
  position: relative;
}
.six .bottom-block .slick-slide .overlay_img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(22 22 22 / 82%);
  opacity: 1;
  mix-blend-mode: hue;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.six .bottom-block .slick-slide.slick-active .overlay_img:before {
  opacity: 0;
}
.meet-our-team {
  background-color: #f2f6f8;
}
.meet-our-team .title-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 38px;
  margin-bottom: 3px;
}
.meet-our-team .title-c .left-block {
  width: 34.3%;
  padding-left: calc(50vw - 664px);
  position: relative;
  padding-top: 36px;
  padding-bottom: 36px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-our-team .title-c .left-block:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: var(--theme-yellow1);
}
.meet-our-team .title-c .left-block h2 {
  position: relative;
  font-family: var(--heading-font);
  font-size: 55px;
}
.meet-our-team .title-c .left-block h2:before {
  content: "";
  position: absolute;
  top: 0.45em;
  right: calc(100% + 21px);
  width: 50vw;
  background-color: #b4cde2;
  height: 1px;
}
.meet-our-team .title-c .right-block {
  width: calc(65.7% - 3px);
}
.meet-our-team .title-c .right-block .img-overlay {
  padding-top: 33.73%;
  display: block;
}
.img-overlay {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.meet-our-team .img-overlay:after,
.meet-our-team .img-overlay:before,
.meet-our-team .img-overlay span {
  opacity: 1;
}
.img-overlay span {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -webkit-radial-gradient(
    56% 153%,
    rgba(0, 0, 0, 0.22) 53%,
    rgba(0, 0, 0, 0.55) 100%
  );
  background-image: -o-radial-gradient(
    56% 153%,
    rgba(0, 0, 0, 0.22) 53%,
    rgba(0, 0, 0, 0.55) 100%
  );
  background-image: radial-gradient(
    56% 153%,
    rgba(0, 0, 0, 0.22) 53%,
    rgba(0, 0, 0, 0.55) 100%
  );
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.img-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: hue;
  background-color: #0c0c0c;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.img-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: hard-light;
  background-color: rgb(139 91 12 / 34%);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.meet-our-team .img-overlay:after,
.meet-our-team .img-overlay:before,
.meet-our-team .img-overlay span {
  opacity: 1;
}
.meet-our-team .img-overlay:hover:after,
.meet-our-team .img-overlay:hover:before,
.meet-our-team .img-overlay:hover span {
  opacity: 0;
}
.meet-our-team .content-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.meet-our-team .content-c .img-overlay {
  width: calc(50% - 1.5px);
  margin-bottom: 3px;
  display: block;
}

@media (min-width: 768px) {
  .meet-our-team .content-c .img-overlay:first-child,
  .meet-our-team .content-c .img-overlay:nth-child(4) {
    padding-top: 44.4%;
  }
  .meet-our-team .content-c .img-overlay:nth-child(2),
  .meet-our-team .content-c .img-overlay:nth-child(3) {
    padding-top: 22.2%;
  }
  .meet-our-team .content-c .img-overlay:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .banner_after {
    background-color: #fff;
  }
  .banner_img {
    padding-top: 89.7vw;
  }
  .banner_img .about_text {
    padding-bottom: 23px;
    padding-top: 23px;
  }
  .banner_img .about_text:before {
    right: 38vw;
  }
  .text_about h2 {
    font-size: 18px;
  }
  .text_about p {
    font-size: 14px;
  }
  .text_about h2:before {
    right: calc(100% + -13px);
  }
  .locla:before {
    right: 38vw;
  }
  .text_locla h2 {
    font-size: 18px;
  }
  .locla {
    padding-top: 45px;
  }
  .title-c h2 {
    font-size: 28px;
  }
  .meet-our-team .title-c .left-block {
    width: 83.2vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 3px;
  }
  .meet-our-team .title-c .right-block {
    width: 100%;
  }
  .meet-our-team .title-c .right-block .img-overlay {
    padding-top: 80%;
    background-position: 100% 0;
  }
  .meet-our-team .content-c .img-overlay {
    padding-top: 80%;
    width: 100%;
  }
  .left_master h3 {
    margin-top: 0;
    padding: 24px;
    font-size: 21px;
  }
  .left_master p {
    padding: 0px 0 140px 23px;
  }
  .text_left_img p {
    font-size: 18px;
  }
  .four {
    background-color: #fff;
  }
  .locla1 {
    width: 100%;
    padding-bottom: 24px;
    padding-top: 28px;
  }
  .locla1 h2 {
    font-size: 20px;
  }
  .black_p {
    font-size: 20px;
    padding: 38px 0% 22px 11px;
  }
  .img_c img {
    width: calc(50vw + 64.7%);
  }

  .title_c {
    padding: 118px 5% 51px 8.4%;
  }
  .title_c h2 {
    font-size: 20px;
  }
  .title_c p {
    font-size: 15px;
  }

  .title-inner .txt-c {
    font-size: 16px;
    line-height: 23px;
  }
  .six .top-block .left-block {
    padding: 30px 21px 30px;
  }
  .six .top-block .left-block h2 {
    font-size: 20px;
  }
  .six .top-block .right-block {
    padding: 44px 4.7% 148px 4%;
  }
  .six .top-block .right-block h2 {
    font-size: 24px;
  }
}
